# JOIN

Joining the schools, wind, population, pm2.5 readings, and pollutions sources datasets all together.

# Anand Notes:
jan-2000, school1, zip, lat, lon
...
jan-2000, school1300, zip, lat, lon
feb-2000, school1, zip, lat, lon
...
feb-2000, school1300, zip, lat, lon

520,000,000

use lat, lon to find nearest pollution site, get bearing as pollution_bearing (using geodesic inv library)

join wind u, v onto school's zip-month-year, use trig to make school_wind_bearing

join wind u, v onto pollution site's zip-month-year, use trig to make  pollution_wind_bearing


make 3 variables 

- abs(pollution_bearing - school_wind_bearing) as school_wind_downstream_angle

- abs(pollution_bearing - pollution_wind_bearing) as pollution_wind_downstream_angle

- mean(school_wind_downstream_angle, pollution_wind_downstream_angle) as mean_downstream_angle


---> group by zip-month-year

~ 400,000 rows

aggregations:

- avg(school_wind_downstream_angle) as zip_avg_school_wind_downstream_angle

- avg(pollution_wind_downstream_angle) as zip_avg_pollution_wind_downstream_angle

- avg(mean_downstream_angle) as zip_avg_mean_downstream_angle


year, month, zip, year-month-zip, zip_avg_school_wind_downstream_angle, zip_avg_pollution_wind_downstream_angle, zip_avg_mean_downstream_angle


join in population stuff on year-zipcode

join in pm2.5 on year-month-zipcode

![](2022-09-27-18-07-10.png)

Imports

In [197]:
import pandas as pd 
import numpy as np
import os 
import datetime
from tqdm.notebook import tqdm

import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import matplotlib.ticker as mticker
import plotly.express as px

from netCDF4 import Dataset
import cartopy.crs as ccrs
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
# import dotenv

pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None

Set folder paths

In [198]:
path_source = 'work'

if path_source == 'gdrive':
  from google.colab import drive
  drive.mount('/content/gdrive')
  gdrive_path = '/content/gdrive/MyDrive/Classes/W210_capstone'
  env_path = '/content/gdrive/MyDrive/.env'
  
elif path_source == 'local':
  gdrive_path = '/Users/tj/trevorj@berkeley.edu - Google Drive/My Drive/Classes/W210_capstone'
  env_path = '/Users/tj/trevorj@berkeley.edu - Google Drive/MyDrive/.env'

elif path_source == 'work':
  gdrive_path = '/Users/trevorjohnson/trevorj@berkeley.edu - Google Drive/My Drive/Classes/W210_capstone'
  env_path = '/Users/trevorjohnson/trevorj@berkeley.edu - Google Drive/My Drive/.env'

Read in each dataset

In [202]:
df_census = pd.read_csv(os.path.join(gdrive_path, 'W210 Capstone/Data/census/census_bureau_clean/census_bureau.csv'))
df_wind = pd.read_parquet(os.path.join(gdrive_path, 'W210 Capstone/Data/wind'))
df_pollution = pd.read_csv(os.path.join(gdrive_path, 'W210 Capstone/Data/AirPollution/UW_pm25_zip_monthly_anand_2000-2018-v2.csv'))
df_point_sources = pd.read_csv(os.path.join(gdrive_path, 'W210 Capstone/Data/Point source/pollution_point_sources.csv'))

file_encoding = 'utf8'
with open(os.path.join(gdrive_path, 'JLPS_capstone_project/data/schools_data/filtered_joined_schools_data.csv'), encoding=file_encoding, errors = 'backslashreplace') as my_csv:
  df_schools = pd.read_csv(my_csv, low_memory=False)

pollution point sources assumptions
- For a given year, just find the nearest pollution source for that year. Dont try and track a pollution source across time. 
- We have data every 3 years, assume the following for interpolating:
  - 2002 represents 2000 - 2002
  - 2005 represents 2003 - 2005
  - ... 
  - 2017 represents 2015 - 2019

Concerns:
- 871 schools dont have any wind observations because their zip code wasn't found. Investigate that further.

Data Clean:

In [203]:
# clean schools 
df_schools.columns = [i.lower() for i in df_schools.columns]
# only select necessary fields
df_schools = df_schools[['cdscode', 'statustype', 'county', 'street', 'zip_first_five', 'opendate', 'closeddate', 'eilname', 'gsoffered', 
  'latitude', 'longitude', 'lastupdate']]\
  .rename(columns={
    'statustype': 'school_active_status', 'county': 'school_county', 'street': 'school_street', 
    'zip_first_five': 'school_zip', 'opendate': 'school_open_date', 'closeddate': 'school_closed_date', 
    'eilname': 'school_type', 'gsoffered': 'school_grades_offered', 'latitude': 'school_lat', 'longitude': 'school_lon', 
    'lastupdate': 'school_last_updated_date'})

# clean wind
df_wind = df_wind.rename(columns={'lat': 'wind_lat', 'lon': 'wind_lon'})
df_wind['year_month'] = df_wind['year_month'].astype(str).map(lambda x: x[:4] + '-' + x[-2:])
df_wind['year'] = df_wind['year_month'].map(lambda x: int(x[:4]))
df_wind['ZCTA10'] = df_wind['ZCTA10'].astype(int)
df_wind = df_wind[(df_wind['year'] >= 2000) & (df_wind['year'] <= 2019)]

# clean pollution
df_pollution = df_pollution.drop(columns=['Unnamed: 0', 'GEOID10', 'year_month_zip'])

# clean pollution point sources
df_point_sources = df_point_sources.rename(columns={'zip_code': 'point_source_zip'})
df_point_sources['point_source_zip'] = df_point_sources['point_source_zip'].astype(int)
# create an ID field for easier lookups
df_point_sources['point_source_id'] = [i for i in range(df_point_sources.shape[0])]

Join schools, wind, census, and pm2.5 readings

In [204]:
df_all = pd.merge(df_schools, df_wind, left_on = 'school_zip', right_on='ZCTA10', how='left')\
  .merge(df_census, left_on = ['school_zip', 'year'], right_on=['zip', 'year'], how='left')\
  .merge(df_pollution, left_on=['school_zip', 'year_month'], right_on=['ZIP10', 'year_month'], how='left')

In [205]:
df_wind[['year_month']].drop_duplicates().shape[0]

240

In [206]:
# each school is repeated for every year-month combo. But some schools dont have wind/population data where we dont have that zip code in those datasets. 
yr_mo = df_wind[['year_month']].drop_duplicates().shape[0]
print(f'There are {yr_mo} year month combos')
print('So most schools are repeated 240 times, for the schools that dont have a zip code in the wind data, there are no obs')
df_all['cdscode'].value_counts().to_frame().value_counts('cdscode')

There are 240 year month combos
So most schools are repeated 240 times, for the schools that dont have a zip code in the wind data, there are no obs

cdscode
240    12426
1        871
dtype: int64

## Lat/Lon Join

Join the above dataset to pull the nearest pollution source by year. 

Do so by creating a school <--> source mapping by year

In [207]:
# here is the year mapping since we dont have all years available in the pollution sources. 
# thus, we have to interpolate for the missing years
year_mapping = {
  2000: 2002, 
  2001: 2002, 
  2002: 2002,
  2003: 2005,
  2004: 2005,
  2005: 2005,
  2006: 2008,
  2007: 2008,
  2008: 2008,
  2009: 2011,
  2010: 2011,
  2011: 2011,
  2012: 2014,
  2013: 2014,
  2014: 2014,
  2015: 2017,
  2016: 2017,
  2017: 2017,
  2018: 2017,
  2019: 2017
}

In [208]:
df_point_sources

,checked_lat,checked_lon,point_source_zip,report_year,PM25_emissions_TPY,point_source_id
0,33.811466,-117.915550,92803,2002,1.787854,0
1,34.088242,-117.470116,92335,2002,1.789200,1
2,33.911602,-118.281799,93420,2002,1.791300,2
3,37.944618,-121.325859,95203,2002,1.797500,3
4,39.221817,-121.054955,95945,2002,1.801540,4
...,...,...,...,...,...,...
7150,38.025100,-122.063900,94553,2017,265.824083,7150
7151,34.622200,-117.100100,92307,2017,494.738668,7151
7152,34.231230,-116.056220,92778,2017,534.734811,7152
7153,37.938779,-122.396453,94802,2017,566.232588,7153
7154,38.016594,-122.115392,94553,2017,640.156512,7154

In [210]:
def get_nearest(df_all, df_point_sources, data_year = 2010, partitions = 5, verbose=True):

  df_school_yr = df_all[df_all.year == data_year][['cdscode', 'school_lat', 'school_lon']].drop_duplicates()
  df_ps = df_point_sources[df_point_sources.report_year == year_mapping[data_year]]

  # split data into partitions to avoid overloading memory
  # then loop through each partition and perform the operations
  out_list = []
  for i in range(partitions):
    if verbose:
      print(f'Year: {data_year}. Partition {i+1} of {partitions}')
      
    df_school_yr_i = df_school_yr[df_school_yr['cdscode'] % partitions == i]

    # cross join
    df_school_yr_i['key'] = 0
    df_ps['key'] = 0
    df_cross = pd.merge(df_school_yr_i, df_ps, on = 'key', how='outer')

    # calc distances
    def calc_distance(lat1, lng1, lat2, lng2):
      return ((lat1 - lat2)**2 + (lng1 - lng2)**2)**.5

    df_cross['pollution_school_distance'] = df_cross\
      .apply(lambda df: calc_distance(df['school_lat'], df['school_lon'], df['checked_lat'], df['checked_lon']), axis=1)

    # filter on closest distance per school
    df_closest = df_cross.loc[df_cross.groupby('cdscode').pollution_school_distance.idxmin()]

    # add to list and repeat for other partitions
    out_list.append(df_closest)

  df_out = pd.concat(out_list, ignore_index=True)

  df_out['year'] = data_year
  df_out = df_out.drop(columns=['key'])

  return df_out

In [184]:
# test on 1 year. but run on all years below
df_2000 = get_nearest(df_all, df_point_sources, data_year = 2000, partitions = 5, verbose=True)

Working on partition 1 of 5
Working on partition 2 of 5
Working on partition 3 of 5
Working on partition 4 of 5
Working on partition 5 of 5

## Create School <--> Pollution Source Mapping

Run the function above on all years. 
- This takes about 3.5 - 3.75 min per year
- ended up taking 88 min for all years

In [211]:
%%time 

school_ps_mapping = [get_nearest(df_all, df_point_sources, data_year = i, partitions = 5) for i in range(2000, 2020)]

Year: 2000. Partition 1 of 5
Year: 2000. Partition 2 of 5
Year: 2000. Partition 3 of 5
Year: 2000. Partition 4 of 5
Year: 2000. Partition 5 of 5
Year: 2001. Partition 1 of 5
Year: 2001. Partition 2 of 5
Year: 2001. Partition 3 of 5
Year: 2001. Partition 4 of 5
Year: 2001. Partition 5 of 5
Year: 2002. Partition 1 of 5
Year: 2002. Partition 2 of 5
Year: 2002. Partition 3 of 5
Year: 2002. Partition 4 of 5
Year: 2002. Partition 5 of 5
Year: 2003. Partition 1 of 5
Year: 2003. Partition 2 of 5
Year: 2003. Partition 3 of 5
Year: 2003. Partition 4 of 5
Year: 2003. Partition 5 of 5
Year: 2004. Partition 1 of 5
Year: 2004. Partition 2 of 5
Year: 2004. Partition 3 of 5
Year: 2004. Partition 4 of 5
Year: 2004. Partition 5 of 5
Year: 2005. Partition 1 of 5
Year: 2005. Partition 2 of 5
Year: 2005. Partition 3 of 5
Year: 2005. Partition 4 of 5
Year: 2005. Partition 5 of 5
Year: 2006. Partition 1 of 5
Year: 2006. Partition 2 of 5
Year: 2006. Partition 3 of 5
Year: 2006. Partition 4 of 5
Year: 2006. Partition 5 of 5
Year: 2007. Partition 1 of 5
Year: 2007. Partition 2 of 5
Year: 2007. Partition 3 of 5
Year: 2007. Partition 4 of 5
Year: 2007. Partition 5 of 5
Year: 2008. Partition 1 of 5
Year: 2008. Partition 2 of 5
Year: 2008. Partition 3 of 5
Year: 2008. Partition 4 of 5
Year: 2008. Partition 5 of 5
Year: 2009. Partition 1 of 5
Year: 2009. Partition 2 of 5
Year: 2009. Partition 3 of 5
Year: 2009. Partition 4 of 5
Year: 2009. Partition 5 of 5
Year: 2010. Partition 1 of 5
Year: 2010. Partition 2 of 5
Year: 2010. Partition 3 of 5
Year: 2010. Partition 4 of 5
Year: 2010. Partition 5 of 5
Year: 2011. Partition 1 of 5
Year: 2011. Partition 2 of 5
Year: 2011. Partition 3 of 5
Year: 2011. Partition 4 of 5
Year: 2011. Partition 5 of 5
Year: 2012. Partition 1 of 5
Year: 2012. Partition 2 of 5
Year: 2012. Partition 3 of 5
Year: 2012. Partition 4 of 5
Year: 2012. Partition 5 of 5
Year: 2013. Partition 1 of 5
Year: 2013. Partition 2 of 5
Year: 2013. Partition 3 of 5
Year: 2013. Partition 4 of 5
Year: 2013. Partition 5 of 5
Year: 2014. Partition 1 of 5
Year: 2014. Partition 2 of 5
Year: 2014. Partition 3 of 5
Year: 2014. Partition 4 of 5
Year: 2014. Partition 5 of 5
Year: 2015. Partition 1 of 5
Year: 2015. Partition 2 of 5
Year: 2015. Partition 3 of 5
Year: 2015. Partition 4 of 5
Year: 2015. Partition 5 of 5
Year: 2016. Partition 1 of 5
Year: 2016. Partition 2 of 5
Year: 2016. Partition 3 of 5
Year: 2016. Partition 4 of 5
Year: 2016. Partition 5 of 5
Year: 2017. Partition 1 of 5
Year: 2017. Partition 2 of 5
Year: 2017. Partition 3 of 5
Year: 2017. Partition 4 of 5
Year: 2017. Partition 5 of 5
Year: 2018. Partition 1 of 5
Year: 2018. Partition 2 of 5
Year: 2018. Partition 3 of 5
Year: 2018. Partition 4 of 5
Year: 2018. Partition 5 of 5
Year: 2019. Partition 1 of 5
Year: 2019. Partition 2 of 5
Year: 2019. Partition 3 of 5
Year: 2019. Partition 4 of 5
Year: 2019. Partition 5 of 5
CPU times: user 1h 27min 58s, sys: 38.1 s, total: 1h 28min 36s
Wall time: 1h 28min 47s

In [213]:
# write this mapping table as parquet to disk
school_ps_mapping_df = pd.concat(school_ps_mapping)
fpath = os.path.join(gdrive_path, 'W210 Capstone/Data/school_pollution_mapping/school_pollution_mapping.parquet')
school_ps_mapping_df.to_parquet(fpath)

In [214]:
school_ps_mapping_df.shape

(248520, 11)