# JOIN

Joining the schools, wind, population, pm2.5 readings, and pollutions sources datasets all together.

# Anand Notes:
jan-2000, school1, zip, lat, lon
...
jan-2000, school1300, zip, lat, lon
feb-2000, school1, zip, lat, lon
...
feb-2000, school1300, zip, lat, lon

520,000,000

use lat, lon to find nearest pollution site, get bearing as pollution_bearing (using geodesic inv library)

join wind u, v onto school's zip-month-year, use trig to make school_wind_bearing

join wind u, v onto pollution site's zip-month-year, use trig to make  pollution_wind_bearing


make 3 variables 

- abs(pollution_bearing - school_wind_bearing) as school_wind_downstream_angle

- abs(pollution_bearing - pollution_wind_bearing) as pollution_wind_downstream_angle

- mean(school_wind_downstream_angle, pollution_wind_downstream_angle) as mean_downstream_angle


---> group by zip-month-year

~ 400,000 rows

aggregations:

- avg(school_wind_downstream_angle) as zip_avg_school_wind_downstream_angle

- avg(pollution_wind_downstream_angle) as zip_avg_pollution_wind_downstream_angle

- avg(mean_downstream_angle) as zip_avg_mean_downstream_angle


year, month, zip, year-month-zip, zip_avg_school_wind_downstream_angle, zip_avg_pollution_wind_downstream_angle, zip_avg_mean_downstream_angle


join in population stuff on year-zipcode

join in pm2.5 on year-month-zipcode

![](2022-09-27-18-07-10.png)

Imports

In [197]:
import pandas as pd 
import numpy as np
import os 
import datetime
from tqdm.notebook import tqdm

import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import matplotlib.ticker as mticker
import plotly.express as px

from netCDF4 import Dataset
import cartopy.crs as ccrs
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
# import dotenv

pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None

Set folder paths

In [198]:
path_source = 'work'

if path_source == 'gdrive':
  from google.colab import drive
  drive.mount('/content/gdrive')
  gdrive_path = '/content/gdrive/MyDrive/Classes/W210_capstone'
  env_path = '/content/gdrive/MyDrive/.env'
  
elif path_source == 'local':
  gdrive_path = '/Users/tj/trevorj@berkeley.edu - Google Drive/My Drive/Classes/W210_capstone'
  env_path = '/Users/tj/trevorj@berkeley.edu - Google Drive/MyDrive/.env'

elif path_source == 'work':
  gdrive_path = '/Users/trevorjohnson/trevorj@berkeley.edu - Google Drive/My Drive/Classes/W210_capstone'
  env_path = '/Users/trevorjohnson/trevorj@berkeley.edu - Google Drive/My Drive/.env'

Read in each dataset

In [202]:
df_census = pd.read_csv(os.path.join(gdrive_path, 'W210 Capstone/Data/census/census_bureau_clean/census_bureau.csv'))
df_wind = pd.read_parquet(os.path.join(gdrive_path, 'W210 Capstone/Data/wind'))
df_pollution = pd.read_csv(os.path.join(gdrive_path, 'W210 Capstone/Data/AirPollution/UW_pm25_zip_monthly_anand_2000-2018-v2.csv'))
df_point_sources = pd.read_csv(os.path.join(gdrive_path, 'W210 Capstone/Data/Point source/pollution_point_sources.csv'))

file_encoding = 'utf8'
with open(os.path.join(gdrive_path, 'JLPS_capstone_project/data/schools_data/filtered_joined_schools_data.csv'), encoding=file_encoding, errors = 'backslashreplace') as my_csv:
  df_schools = pd.read_csv(my_csv, low_memory=False)

pollution point sources assumptions
- For a given year, just find the nearest pollution source for that year. Dont try and track a pollution source across time. 
- We have data every 3 years, assume the following for interpolating:
  - 2002 represents 2000 - 2002
  - 2005 represents 2003 - 2005
  - ... 
  - 2017 represents 2015 - 2019

Concerns:
- 871 schools dont have any wind observations because their zip code wasn't found. Investigate that further.

Data Clean:

In [203]:
# clean schools 
df_schools.columns = [i.lower() for i in df_schools.columns]
# only select necessary fields
df_schools = df_schools[['cdscode', 'statustype', 'county', 'street', 'zip_first_five', 'opendate', 'closeddate', 'eilname', 'gsoffered', 
  'latitude', 'longitude', 'lastupdate']]\
  .rename(columns={
    'statustype': 'school_active_status', 'county': 'school_county', 'street': 'school_street', 
    'zip_first_five': 'school_zip', 'opendate': 'school_open_date', 'closeddate': 'school_closed_date', 
    'eilname': 'school_type', 'gsoffered': 'school_grades_offered', 'latitude': 'school_lat', 'longitude': 'school_lon', 
    'lastupdate': 'school_last_updated_date'})

# clean wind
df_wind = df_wind.rename(columns={'lat': 'wind_lat', 'lon': 'wind_lon'})
df_wind['year_month'] = df_wind['year_month'].astype(str).map(lambda x: x[:4] + '-' + x[-2:])
df_wind['year'] = df_wind['year_month'].map(lambda x: int(x[:4]))
df_wind['ZCTA10'] = df_wind['ZCTA10'].astype(int)
df_wind = df_wind[(df_wind['year'] >= 2000) & (df_wind['year'] <= 2019)]

# clean pollution
df_pollution = df_pollution.drop(columns=['Unnamed: 0', 'GEOID10', 'year_month_zip'])

# clean pollution point sources
df_point_sources = df_point_sources.rename(columns={'zip_code': 'point_source_zip'})
df_point_sources['point_source_zip'] = df_point_sources['point_source_zip'].astype(int)
# create an ID field for easier lookups
df_point_sources['point_source_id'] = [i for i in range(df_point_sources.shape[0])]

Join schools, wind, census, and pm2.5 readings

In [204]:
df_all = pd.merge(df_schools, df_wind, left_on = 'school_zip', right_on='ZCTA10', how='left')\
  .merge(df_census, left_on = ['school_zip', 'year'], right_on=['zip', 'year'], how='left')\
  .merge(df_pollution, left_on=['school_zip', 'year_month'], right_on=['ZIP10', 'year_month'], how='left')

In [205]:
df_wind[['year_month']].drop_duplicates().shape[0]

240

In [206]:
# each school is repeated for every year-month combo. But some schools dont have wind/population data where we dont have that zip code in those datasets. 
yr_mo = df_wind[['year_month']].drop_duplicates().shape[0]
print(f'There are {yr_mo} year month combos')
print('So most schools are repeated 240 times, for the schools that dont have a zip code in the wind data, there are no obs')
df_all['cdscode'].value_counts().to_frame().value_counts('cdscode')

There are 240 year month combos
So most schools are repeated 240 times, for the schools that dont have a zip code in the wind data, there are no obs

cdscode
240    12426
1        871
dtype: int64

## Lat/Lon Join

Join the above dataset to pull the nearest pollution source by year. 

Do so by creating a school <--> source mapping by year

In [207]:
# here is the year mapping since we dont have all years available in the pollution sources. 
# thus, we have to interpolate for the missing years
year_mapping = {
  2000: 2002, 
  2001: 2002, 
  2002: 2002,
  2003: 2005,
  2004: 2005,
  2005: 2005,
  2006: 2008,
  2007: 2008,
  2008: 2008,
  2009: 2011,
  2010: 2011,
  2011: 2011,
  2012: 2014,
  2013: 2014,
  2014: 2014,
  2015: 2017,
  2016: 2017,
  2017: 2017,
  2018: 2017,
  2019: 2017
}

In [208]:
df_point_sources

,checked_lat,checked_lon,point_source_zip,report_year,PM25_emissions_TPY,point_source_id
0,33.811466,-117.915550,92803,2002,1.787854,0
1,34.088242,-117.470116,92335,2002,1.789200,1
2,33.911602,-118.281799,93420,2002,1.791300,2
3,37.944618,-121.325859,95203,2002,1.797500,3
4,39.221817,-121.054955,95945,2002,1.801540,4
...,...,...,...,...,...,...
7150,38.025100,-122.063900,94553,2017,265.824083,7150
7151,34.622200,-117.100100,92307,2017,494.738668,7151
7152,34.231230,-116.056220,92778,2017,534.734811,7152
7153,37.938779,-122.396453,94802,2017,566.232588,7153
7154,38.016594,-122.115392,94553,2017,640.156512,7154

In [210]:
def get_nearest(df_all, df_point_sources, data_year = 2010, partitions = 5, verbose=True):

  df_school_yr = df_all[df_all.year == data_year][['cdscode', 'school_lat', 'school_lon']].drop_duplicates()
  df_ps = df_point_sources[df_point_sources.report_year == year_mapping[data_year]]

  # split data into partitions to avoid overloading memory
  # then loop through each partition and perform the operations
  out_list = []
  for i in range(partitions):
    if verbose:
      print(f'Year: {data_year}. Partition {i+1} of {partitions}')
      
    df_school_yr_i = df_school_yr[df_school_yr['cdscode'] % partitions == i]

    # cross join
    df_school_yr_i['key'] = 0
    df_ps['key'] = 0
    df_cross = pd.merge(df_school_yr_i, df_ps, on = 'key', how='outer')

    # calc distances
    def calc_distance(lat1, lng1, lat2, lng2):
      return ((lat1 - lat2)**2 + (lng1 - lng2)**2)**.5

    df_cross['pollution_school_distance'] = df_cross\
      .apply(lambda df: calc_distance(df['school_lat'], df['school_lon'], df['checked_lat'], df['checked_lon']), axis=1)

    # filter on closest distance per school
    df_closest = df_cross.loc[df_cross.groupby('cdscode').pollution_school_distance.idxmin()]

    # add to list and repeat for other partitions
    out_list.append(df_closest)

  df_out = pd.concat(out_list, ignore_index=True)

  df_out['year'] = data_year
  df_out = df_out.drop(columns=['key'])

  return df_out

In [184]:
# test on 1 year. but run on all years below
df_2000 = get_nearest(df_all, df_point_sources, data_year = 2000, partitions = 5, verbose=True)

Working on partition 1 of 5
Working on partition 2 of 5
Working on partition 3 of 5
Working on partition 4 of 5
Working on partition 5 of 5

## Create School <--> Pollution Source Mapping

Run the function above on all years. 
- This takes about 3.5 - 3.75 min per year
- ended up taking 88 min for all years

In [211]:
%%time 

school_ps_mapping = [get_nearest(df_all, df_point_sources, data_year = i, partitions = 5) for i in range(2000, 2020)]

Year: 2000. Partition 1 of 5
Year: 2000. Partition 2 of 5
Year: 2000. Partition 3 of 5
Year: 2000. Partition 4 of 5
Year: 2000. Partition 5 of 5
Year: 2001. Partition 1 of 5
Year: 2001. Partition 2 of 5
Year: 2001. Partition 3 of 5
Year: 2001. Partition 4 of 5
Year: 2001. Partition 5 of 5
Year: 2002. Partition 1 of 5
Year: 2002. Partition 2 of 5
Year: 2002. Partition 3 of 5
Year: 2002. Partition 4 of 5
Year: 2002. Partition 5 of 5
Year: 2003. Partition 1 of 5
Year: 2003. Partition 2 of 5
Year: 2003. Partition 3 of 5
Year: 2003. Partition 4 of 5
Year: 2003. Partition 5 of 5
Year: 2004. Partition 1 of 5
Year: 2004. Partition 2 of 5
Year: 2004. Partition 3 of 5
Year: 2004. Partition 4 of 5
Year: 2004. Partition 5 of 5
Year: 2005. Partition 1 of 5
Year: 2005. Partition 2 of 5
Year: 2005. Partition 3 of 5
Year: 2005. Partition 4 of 5
Year: 2005. Partition 5 of 5
Year: 2006. Partition 1 of 5
Year: 2006. Partition 2 of 5
Year: 2006. Partition 3 of 5
Year: 2006. Partition 4 of 5
Year: 2006. Partition 5 of 5
Year: 2007. Partition 1 of 5
Year: 2007. Partition 2 of 5
Year: 2007. Partition 3 of 5
Year: 2007. Partition 4 of 5
Year: 2007. Partition 5 of 5
Year: 2008. Partition 1 of 5
Year: 2008. Partition 2 of 5
Year: 2008. Partition 3 of 5
Year: 2008. Partition 4 of 5
Year: 2008. Partition 5 of 5
Year: 2009. Partition 1 of 5
Year: 2009. Partition 2 of 5
Year: 2009. Partition 3 of 5
Year: 2009. Partition 4 of 5
Year: 2009. Partition 5 of 5
Year: 2010. Partition 1 of 5
Year: 2010. Partition 2 of 5
Year: 2010. Partition 3 of 5
Year: 2010. Partition 4 of 5
Year: 2010. Partition 5 of 5
Year: 2011. Partition 1 of 5
Year: 2011. Partition 2 of 5
Year: 2011. Partition 3 of 5
Year: 2011. Partition 4 of 5
Year: 2011. Partition 5 of 5
Year: 2012. Partition 1 of 5
Year: 2012. Partition 2 of 5
Year: 2012. Partition 3 of 5
Year: 2012. Partition 4 of 5
Year: 2012. Partition 5 of 5
Year: 2013. Partition 1 of 5
Year: 2013. Partition 2 of 5
Year: 2013. Partition 3 of 5
Year: 2013. Partition 4 of 5
Year: 2013. Partition 5 of 5
Year: 2014. Partition 1 of 5
Year: 2014. Partition 2 of 5
Year: 2014. Partition 3 of 5
Year: 2014. Partition 4 of 5
Year: 2014. Partition 5 of 5
Year: 2015. Partition 1 of 5
Year: 2015. Partition 2 of 5
Year: 2015. Partition 3 of 5
Year: 2015. Partition 4 of 5
Year: 2015. Partition 5 of 5
Year: 2016. Partition 1 of 5
Year: 2016. Partition 2 of 5
Year: 2016. Partition 3 of 5
Year: 2016. Partition 4 of 5
Year: 2016. Partition 5 of 5
Year: 2017. Partition 1 of 5
Year: 2017. Partition 2 of 5
Year: 2017. Partition 3 of 5
Year: 2017. Partition 4 of 5
Year: 2017. Partition 5 of 5
Year: 2018. Partition 1 of 5
Year: 2018. Partition 2 of 5
Year: 2018. Partition 3 of 5
Year: 2018. Partition 4 of 5
Year: 2018. Partition 5 of 5
Year: 2019. Partition 1 of 5
Year: 2019. Partition 2 of 5
Year: 2019. Partition 3 of 5
Year: 2019. Partition 4 of 5
Year: 2019. Partition 5 of 5
CPU times: user 1h 27min 58s, sys: 38.1 s, total: 1h 28min 36s
Wall time: 1h 28min 47s

In [213]:
# write this mapping table as parquet to disk
school_ps_mapping_df = pd.concat(school_ps_mapping)
fpath = os.path.join(gdrive_path, 'W210 Capstone/Data/school_pollution_mapping/school_pollution_mapping.parquet')
school_ps_mapping_df.to_parquet(fpath)

Join the point sources to schools dataset

In [231]:
school_ps_mapping_df = pd.read_parquet(fpath)
school_ps_mapping_df

,cdscode,school_lat,school_lon,checked_lat,checked_lon,point_source_zip,report_year,PM25_emissions_TPY,point_source_id,pollution_school_distance,year
0,1100170000000,37.658212,-122.09713,37.667973,-122.103806,94541,2002,25.813472,774,0.011826,2000
1,1100170109835,37.521436,-121.99391,37.493038,-121.993568,94538,2002,21.326984,756,0.028400,2000
2,1100170130625,37.764464,-122.19540,37.764538,-122.222412,94601,2002,9.449277,602,0.027012,2000
3,1100176002000,37.776239,-122.23207,37.772911,-122.234818,94606,2002,13.356216,677,0.004316,2000
4,1316090000000,37.562576,-121.96563,37.567036,-121.982841,94536,2002,2.054353,58,0.017779,2000
...,...,...,...,...,...,...,...,...,...,...,...
12421,58727366056659,39.122900,-121.58357,39.112900,-121.608900,95991,2017,5.349549,6774,0.027232,2019
12422,58727366056709,39.079634,-121.53565,39.097770,-121.569830,0,2017,1.635682,6199,0.038693,2019
12423,58727366056774,39.157213,-121.57630,39.112900,-121.608900,95991,2017,5.349549,6774,0.055013,2019
12424,58727366099014,39.236076,-121.40832,39.155960,-121.473360,95901,2017,1.707853,6222,0.103193,2019
12425,58727440107144,39.025746,-121.51981,39.046000,-121.579000,95901,2017,2.160000,6361,0.062559,2019

In [232]:
# read it back in (optional)
school_ps_mapping_df = pd.read_parquet(fpath)
# clean up field names and select relevant fields
school_ps_mapping_df = school_ps_mapping_df\
  .rename(columns={'checked_lat': 'pollution_source_lat', 'checked_lon': 'pollution_source_lon', 'point_source_zip': 'pollution_source_zip', 'point_source_id': 'pollution_source_id'})

school_ps_mapping_df = school_ps_mapping_df[['cdscode', 'year', 'pollution_source_id', 'pollution_source_lat', 'pollution_source_lon', 'PM25_emissions_TPY', 'pollution_school_distance']]

In [234]:
# join
df_all = pd.merge(df_all, school_ps_mapping_df, on=['cdscode', 'year'], how='left')

In [248]:
# save to disk
df_all.to_parquet(os.path.join(gdrive_path, 'W210 Capstone/Data/joined_data/joined_data.parquet'))

In [250]:
df_all.value_counts(['cdscode', 'year_month'])

cdscode         year_month
1100170000000   2000-01       1
36750773630621  2019-06       1
                2019-08       1
                2019-09       1
                2019-10       1
                             ..
19647336071468  2000-02       1
                2000-03       1
                2000-04       1
                2000-05       1
58727695838305  2019-12       1
Length: 2982240, dtype: int64

# Additional eda on the final dataset

In [240]:
# some schools dont have wind data, and thus didn't get mapped to a nearest pollution source
df_counts = df_all['cdscode'].value_counts().to_frame().reset_index()
df_counts

                index  cdscode
0       1100170000000      240
1      36679343638012      240
2      36679346059562      240
3      36679346114698      240
4      36679590000000      240
...               ...      ...
13292  24658700111294        1
13293  24658706025829        1
13294  24658706025837        1
13295  24658706109425        1
13296  43696414332904        1

[13297 rows x 2 columns]

In [251]:
df_counts[df_counts['cdscode'] == 1]

                index  cdscode
12426  44754320000000        1
12427  38684786041156        1
12428  44754320139410        1
12429   1613096002554        1
12430  19647330135855        1
...               ...      ...
13292  24658700111294        1
13293  24658706025829        1
13294  24658706025837        1
13295  24658706109425        1
13296  43696414332904        1

[871 rows x 2 columns]

In [245]:
df_all[df_all['cdscode'].isin(df_counts[df_counts['cdscode'] == 1]['index'].to_list())]

,cdscode,school_active_status,school_county,school_street,school_zip,school_open_date,school_closed_date,school_type,school_grades_offered,school_lat,school_lon,school_last_updated_date,wind_lat,wind_lon,ZCTA10,u,v,wdir,wspd,year_month,year,zip,total_population,total_population_male,total_population_female,population_0_4,population_0_4_male,population_0_4_female,population_5_9,population_5_9_male,population_5_9_female,population_10_14,population_10_14_male,population_10_14_female,population_15_19,population_15_19_male,population_15_19_female,total_pop_under19,ZIP10,pm25,pollution_source_id,pollution_source_lat,pollution_source_lon,PM25_emissions_TPY,pollution_school_distance
480,1100170112607,Active,Alameda,1515 Webster Street,94612,8/28/2006,No Data,Elementary-High Combination,4-12,37.804520,-122.26815,7/18/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2881,1100170136101,Active,Alameda,703 C Street,94587,8/16/2017,No Data,Elementary-High Combination,K-12,37.603623,-122.02530,8/13/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38162,1611920131334,Closed,Alameda,2021 Highland Boulevard,94540,8/21/2014,7/30/2021,Elementary,K-12,37.661939,-122.05792,9/22/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38403,1611920133520,Active,Alameda,22100 Princeton Street,94540,7/1/1980,No Data,Adult,Adult,37.672622,-122.09814,8/16/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42004,1611926001101,Active,Alameda,411 Larchmont Street,94540,7/1/1980,No Data,Elementary,K-6,37.652934,-122.09406,7/12/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895746,56724700000000,Active,Ventura,3901 North Mesa School Road,93066,No Data,No Data,No Data,No Data,34.262484,-119.09424,7/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2896227,56724706055123,Active,Ventura,3901 North Mesa School Road,93066,7/1/1980,No Data,Elementary,K-8,34.262484,-119.09424,8/13/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2925508,56726110000000,Active,Ventura,5268 North Street,93066,No Data,No Data,No Data,No Data,34.258820,-118.99756,8/5/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2925749,56726116055834,Active,Ventura,5268 North Street,93066,7/1/1980,No Data,Elementary,K-8,34.258820,-118.99756,1/21/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2970870,58105870117242,Active,Yuba,9841 Texas Hill Road,95962,8/18/2008,No Data,Elementary,K-8,39.363780,-121.24624,8/13/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [252]:
df_all

,cdscode,school_active_status,school_county,school_street,school_zip,school_open_date,school_closed_date,school_type,school_grades_offered,school_lat,school_lon,school_last_updated_date,wind_lat,wind_lon,ZCTA10,u,v,wdir,wspd,year_month,year,zip,total_population,total_population_male,total_population_female,population_0_4,population_0_4_male,population_0_4_female,population_5_9,population_5_9_male,population_5_9_female,population_10_14,population_10_14_male,population_10_14_female,population_15_19,population_15_19_male,population_15_19_female,total_pop_under19,ZIP10,pm25,pollution_source_id,pollution_source_lat,pollution_source_lon,PM25_emissions_TPY,pollution_school_distance
0,1100170000000,Active,Alameda,313 West Winton Avenue,94544,No Data,No Data,No Data,No Data,37.658212,-122.09713,3/23/2022,37.604,-122.062,94544.0,0.554666,0.486762,41.269428,0.737964,2000-01,2000.0,94544.0,72984.0,36421.0,36563.0,6134.0,3126.0,3008.0,6360.0,3237.0,3123.0,5397.0,2756.0,2641.0,5008.0,2645.0,2363.0,22899.0,94544.0,14.380,774.0,37.667973,-122.103806,25.813472,0.011826
1,1100170000000,Active,Alameda,313 West Winton Avenue,94544,No Data,No Data,No Data,No Data,37.658212,-122.09713,3/23/2022,37.604,-122.062,94544.0,0.126112,1.436640,84.983284,1.442165,2000-02,2000.0,94544.0,72984.0,36421.0,36563.0,6134.0,3126.0,3008.0,6360.0,3237.0,3123.0,5397.0,2756.0,2641.0,5008.0,2645.0,2363.0,22899.0,94544.0,8.075,774.0,37.667973,-122.103806,25.813472,0.011826
2,1100170000000,Active,Alameda,313 West Winton Avenue,94544,No Data,No Data,No Data,No Data,37.658212,-122.09713,3/23/2022,37.604,-122.062,94544.0,1.151768,-0.208205,349.753296,1.170436,2000-03,2000.0,94544.0,72984.0,36421.0,36563.0,6134.0,3126.0,3008.0,6360.0,3237.0,3123.0,5397.0,2756.0,2641.0,5008.0,2645.0,2363.0,22899.0,94544.0,9.210,774.0,37.667973,-122.103806,25.813472,0.011826
3,1100170000000,Active,Alameda,313 West Winton Avenue,94544,No Data,No Data,No Data,No Data,37.658212,-122.09713,3/23/2022,37.604,-122.062,94544.0,1.488829,0.172415,6.605760,1.498779,2000-04,2000.0,94544.0,72984.0,36421.0,36563.0,6134.0,3126.0,3008.0,6360.0,3237.0,3123.0,5397.0,2756.0,2641.0,5008.0,2645.0,2363.0,22899.0,94544.0,6.890,774.0,37.667973,-122.103806,25.813472,0.011826
4,1100170000000,Active,Alameda,313 West Winton Avenue,94544,No Data,No Data,No Data,No Data,37.658212,-122.09713,3/23/2022,37.604,-122.062,94544.0,2.059408,0.023566,0.655623,2.059543,2000-05,2000.0,94544.0,72984.0,36421.0,36563.0,6134.0,3126.0,3008.0,6360.0,3237.0,3123.0,5397.0,2756.0,2641.0,5008.0,2645.0,2363.0,22899.0,94544.0,5.735,774.0,37.667973,-122.103806,25.813472,0.011826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2983106,58727695838305,Active,Yuba,1010 Wheatland Road,95692,7/1/1980,No Data,High School,9-12,38.998968,-121.45497,9/10/2021,38.987,-121.493,95692.0,-0.001560,1.287632,90.069412,1.287633,2019-08,2019.0,95692.0,5251.0,2693.0,2558.0,193.0,90.0,103.0,370.0,183.0,187.0,286.0,129.0,157.0,327.0,139.0,188.0,1176.0,NaN,NaN,6642.0,39.075373,-121.396982,3.842559,0.095918
2983107,58727695838305,Active,Yuba,1010 Wheatland Road,95692,7/1/1980,No Data,High School,9-12,38.998968,-121.45497,9/10/2021,38.987,-121.493,95692.0,-0.126089,0.912698,97.865616,0.921366,2019-09,2019.0,95692.0,5251.0,2693.0,2558.0,193.0,90.0,103.0,370.0,183.0,187.0,286.0,129.0,157.0,327.0,139.0,188.0,1176.0,NaN,NaN,6642.0,39.075373,-121.396982,3.842559,0.095918
2983108,58727695838305,Active,Yuba,1010 Wheatland Road,95692,7/1/1980,No Data,High School,9-12,38.998968,-121.45497,9/10/2021,38.987,-121.493,95692.0,-0.348807,-0.136626,201.390030,0.374610,2019-10,2019.0,95692.0,5251.0,2693.0,2558.0,193.0,90.0,103.0,370.0,183.0,187.0,286.0,129.0,157.0,327.0,139.0,188.0,1176.0,NaN,NaN,6642.0,39.075373,-121.396982,3.842559,0.095918
2983109,58727695838305,Active,Yuba,1010 Wheatland Road,95692,7/1/1980,No Data,High School,9-12,38.998968,-121.45497,9/10/2021,38.987,-121.493,95692.0,-0.325962,0.253278,142.152222,0.412796,2019-11,2019.0,95692.0,5251.0,2693.0,2558.0,193.0,90.0,103.0,370.0,183.0,187.0,286.0,129.0,157.0,327.0,139.0,188.0,1176.0,NaN,NaN,6642.0,39.075373,-121.396982,3.842559,0.095918
2983110,58727695838305,Active,Yuba,1010 Wheatland Road,95692,7/1/1980,No Data,High School,9-12,38.998968,-121.45497,9/10/2021,38.987,-121.493,95692.0,-0.838385,0.758596,137.860260,1.130645,2019-12,2019.0,95692.0,5251.0,2693.0,2558.0,193.0,90.0,103.0,370.0,183.0,187.0,286.0,129.0,157.0,327.0,139.0,188.0,1176.0,NaN,NaN,6642.0,39.075373,-121.396982,3.842559,0.095918